.header {
	flex-grow: 1;
	text-align: center;

	display: -webkit-flex;
	display: flex;
	flex-direction: column;

	composes: header from '../../../commonStyles/colors.css';
}

.title {
	flex-grow: 3;
	font-size: 50px;
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif; 

	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.caption {
	flex-grow: 2;
	font-size: 20px;
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif; 

	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}