.recipe{
	margin: 20px auto;
	composes: page from '../../commonStyles/dimensions.css';
	composes: page from '../../commonStyles/boxShadow.css';
	background-color: #ffffff;
	/*composes: rightPageInset from '../../commonStyles/boxShadow.css';*/

	overflow: hidden;
}

.profile {
	/*padding:10px;*/
	float: right;
	height: 100%;
	width: 200px;
	background-color: rgb(121,222,201);
	text-align: center;
}

.profilePicture {
	/*TODO ADD IMAGE*/
	margin: auto;
	width: 100%;
	height: 200px;
	background-color: #ccc;
	margin-bottom: 15px;
}

.profileName,
.profileCompany,
.profileCompanyLocation {
	margin: 15px auto;
}

.profileSummary {
	padding:30px;
}


.content {
	/*padding: 10px;*/
	float: left;
	height: 100%;
	width: 800px;
	min-width: 200px;
	overflow:hidden;
}

.foodPicture {
	/*TODO ADD IMAGE*/
	margin: auto;
	width: 100%;
	height: 200px;
	background-color: #ccc;
	margin-bottom: 15px;
}

.recipeContent {
	height: 450px;
	padding:10px;
	padding-left: 40px;
	overflow: hidden;
}

.title {
	text-align: center;
	font-size: 32px;
	font-style: Garamond;
}

.caption {
	text-align: center;
	font-size: 24px;
	font-style: Garamond;
}

.instructions {
	font-size: 13px;
}

.ingredients{
	float: left;
	width: 30%;
}

.directions {
	float: left;
	width: 70%;
}

.imageContainer {
	position: relative;
	overflow: hidden;
	height: 200px;
}

.imageContainer img {
	position: absolute;
}

.editImage {
	font-size: 24px;
	position: absolute;
	top: 0;
	right: 0;
}

.zoomIn {
	composes: plusFont from '../../commonStyles/colors.css';
}

.zoomOut {
	composes: minusFont from '../../commonStyles/colors.css';
}

.editable:hover {
	border: 1px dashed blue;
}

table {
	margin-left: 30px;
	table-layout: fixed;
	width: 100%;
	text-align: center;
}

table span{
	font-size: 24px;
}