.recipe{
	margin: 20px auto;
	composes: page from '../../commonStyles/dimensions.css';
	composes: page from '../../commonStyles/boxShadow.css';
	background-color: #ffffff;
	/*composes: rightPageInset from '../../commonStyles/boxShadow.css';*/

	overflow: hidden;
}

.profile {
	padding: 10px;
	float: right;
	height: 100%;
	width: 250px;
	background-color: rgb(121,222,201);
	text-align: center;
}

.profilePicture {
	/*TODO ADD IMAGE*/
	margin: auto;
	width: 100%;
	height: 200px;
	background-color: #ccc;
	margin-bottom: 15px;
}

.profileName,
.profileCompany,
.profileCompanyLocation {
	margin: 5px auto;
}

.profileSummary {
	margin-top: 15px;
}


.content {
	float: left;
	height: 100%;
	width: 750px;
	min-width: 200px;
	padding: 10px;
}


.foodPicture {
	/*TODO ADD IMAGE*/
	margin: auto;
	width: 100%;
	height: 200px;
	background-color: #ccc;
	margin-bottom: 15px;
}

.title {
	text-align: center;
	font-size: 32px;
	font-style: Garamond;
}

.caption {
	text-align: center;
	font-size: 24px;
	font-style: Garamond;
}

.ingredients{
	float: left;
	width: 30%;
}

.directions {
	float: left;
	width: 70%;
}

.imageContainer {
	position: relative;
	overflow: hidden;
	height: 200px;
}

.imageContainer img {
	position: absolute;
}

.editImage {
	font-size: 24px;
	position: absolute;
	top: 0;
	right: 0;
}

.zoomIn {
	composes: plusFont from '../../commonStyles/colors.css';
}

.zoomOut {
	composes: minusFont from '../../commonStyles/colors.css';
}

.editable:hover {
	border: 1px dashed blue;
}