.logo
{
	padding: 1em;
    text-align: center;
	background: #EEEEEE;
	width: 10%;
	float: left;color: #fff;
}

.title
{
	text-align: left;
    background: #EEEEEE;
    padding: 1em;
    color: #000;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight:400;
	letter-spacing:1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	outline:0px;
}

/*body {
	background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#ffffff;
background-size:16px 16px;
}*/