html,
body{
	padding: 0;
	margin: 0;

	font-family: 'Lato', 'arial' sans-serif;
	color: #3A414D;
	font-size:14px;
	letter-spacing:1px;
	font-weight:400;
}


/*body {
	background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#ffffff;
background-size:16px 16px;
}*/