.recipe{
	margin: 20px auto;
	composes: page from '../../commonStyles/dimensions.css';
	composes: page from '../../commonStyles/boxShadow.css';
	background-color: #ffffff;
	/*composes: rightPageInset from '../../commonStyles/boxShadow.css';*/

	overflow: hidden;
}

.content {
	float: left;
	height: 100%;
	width: 70%;
	min-width: 200px;
}

.profile {
	padding: 10px;
	float: right;
	height: 100%;
	width: 30%;
	background-color: rgb(121,222,201);
	text-align: center;
}

.profilePicture {
	/*TODO ADD IMAGE*/
	margin: auto;
	width: 200px;
	height: 200px;
	background-color: #ccc;
	margin-bottom: 15px;
}

.profileName,
.profileCompany,
.profileCompanyLocation {
	margin: 5px auto;
}

.profileSummary {
	margin-top: 15px;
}