.heading {
	max-width: 1000px;
	margin: auto;
}

.warning{
	font-size:14px;
	color: red;
}

.recipeEditorContainer {
	background: white;
	padding: 50px;
	width: 1200px;
	margin:auto;
	composes: recipeEditor from '../../commonStyles/boxShadow.css';
}