.recipe {
	flex-grow:1;

	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

.header {
	flex-grow: 2;

	/*Also Hack*/
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}

.instructions {
	flex-grow: 8;
}
