.container{
	text-align: center;
	margin: 20px;
}

.countdown{
	color: #fff;
	display: inline-block;
	text-align: center;
	font-size: 30px;
}

.block{
	margin:5px;
	padding: 10px;
	border-radius: 15px;
	background: #00BF96;
	display: inline-block;
}

.time{
	width: 65px;
	height: 65px;
	padding: 15px;
	border-radius: 50%;
	background: #00816A;
	display: inline-block;
}

.label{
	padding-top: 5px;
	font-size: 16px;
}