.page {
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}

.recipeEditor {
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.05);
}

.rightPageInset {
	-webkit-box-shadow: inset 50px 0px 200px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 50px 0px 200px 1px rgba(0,0,0,0.1);
	box-shadow: inset 50px 0px 200px 1px rgba(0,0,0,0.1);
}

.leftPageInset {
	-webkit-box-shadow: inset -50px 0px 200px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset -50px 0px 200px 1px rgba(0,0,0,0.1);
	box-shadow: inset -50px 0px 200px 1px rgba(0,0,0,0.1);
}